# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          api/vendor
          worker/vendor
        key: ${{ runner.os }}-go-${{ hashFiles('api/go.sum', 'worker/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Build
      run: |
        cd api && go build -mod=vendor -v ./...
        cd ../worker && go build -mod=vendor -v ./...

    - name: Test
      run: |
        cd api && go test -mod=vendor -v ./...
        cd ../worker && go test -mod=vendor -v ./...
